
src/.vs/PersistenceCacheStack/v15/.suo
src/.vs/PersistenceCacheStack/v15/Server/sqlite3/db.lock
src/.vs/PersistenceCacheStack/v15/Server/sqlite3/storage.ide
src/.vs/PersistenceCacheStack/v15/Server/sqlite3/storage.ide-shm
src/.vs/PersistenceCacheStack/v15/Server/sqlite3/storage.ide-wal
src/CacheStackEntity/bin/
src/CacheStackEntity/debug/
src/CacheStackEntity/obj/
src/MemoryCacheLibrary/bin/
src/MemoryCacheLibrary/debug/
src/MemoryCacheLibrary/obj/
src/PersistenceCacheStack/bin/
src/PersistenceCacheStack/debug/
src/PersistenceCacheStack/obj/
src/RedisAccess/bin/
src/RedisAccess/debug/
src/RedisAccess/obj/
src/TestResults/
src/UnitTestProject/bin/
src/UnitTestProject/debug/
src/UnitTestProject/obj/
.DS_Store
src/.DS_Store
src/PersistenceCacheStack.Test/.DS_Store
src/PersistenceCacheStack/.DS_Store
